{{--
  Default set of classes
--}}
@set('classes', 'rounded-full flex items-center justify-center text-gray-800 font-medium')

{{--
  Concatenate size classes
--}}
@if(size === 'large')
  @set('classes', `${classes} w-24 h-24 text-3xl`)
@else
  @set('classes', `${classes} w-12 h-12`)
@end

<div class="{{ classes }}" style="background-color: {{ color }};">
  {{ text }}
</div>
